.BackgroundText{
    padding-right: 60px;
    animation: scroll 300s infinite linear;
    line-height: 1.75;
    color: #b4bbc1;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}