@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.App{
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,button{
  font-family: 'Mooli', sans-serif;
  text-transform: lowercase;
}

input{
  font-family: 'Open Sans', sans-serif;
}

.thyme{
  width: 40px;
  height: auto;
  filter: invert(1)
}

main{
  padding: 20px;
}

footer{
  padding: 20px;
}