header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-logo {
    display: flex;
    justify-self: center;
    align-items: center;
}

header h4{
    font-size: 24px !important;
}

header .header-spreader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-buttons {
    display: flex;
    align-items: center;
}

header .header-spreader a {
    color: #fff;
    text-decoration: none;
}

header .thyme {
    width: 65px;
    height: auto;
    filter: invert(1)
}

@media screen and (min-width: 810px) {
    header h4{
        font-size: 34px !important;
    }
}